
.article-container {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 60px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.header-container {
  position: -webkit-sticky;
  position: sticky;
  top: 1px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.content-container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

#disable-scroll {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  overflow-y: scroll;
}

#disable-scroll::-webkit-scrollbar {
  width: 12px;
}

#disable-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#disable-scroll:hover::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#disable-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

#disable-scroll:hover::-webkit-scrollbar-track {
  background-color: transparent;
}



.bg-darker{
  background-color: #6d6d6d;
  transform: translateZ(50px); /* Move the element along the Z-axis */
  transition: transform 0.3s ease-in-out;
}





.shadow-effect {
  position: absolute;
  left: 0;
  right: 0;
  height: 50px; /* Adjust the height of the shadow effect as needed */
  z-index: 1;
}

.shadow-effect.top {
  top: -83px;
  box-shadow: 2px 63px 20px rgba(255, 255, 255, 1); /* Adjust the shadow color and strength as needed */
}

.shadow-effect.bottom {
  bottom: 76px;
  box-shadow: 2px 101px 20px rgba(255, 255, 255, 1) /* Adjust the shadow color and strength as needed */
}

