/* Stronger blur effect */
.blur-edge::before, .blur-edge::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    display: block;
    height: 75px; /* Height of the blurred edge */
    pointer-events: none;
  }
  
  .blur-edge::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0.9), transparent); /* Stronger effect */
  }
  
  .blur-edge::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(255,255,255,0.9), transparent); /* Stronger effect */
  }
  

.article-container {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.header-container {
  position: -webkit-sticky;
  position: sticky;
  top: 1px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.content-container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

#disable-scroll {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  overflow-y: scroll;
}

#disable-scroll::-webkit-scrollbar {
  width: 12px;
}

#disable-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#disable-scroll:hover::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#disable-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

#disable-scroll:hover::-webkit-scrollbar-track {
  background-color: transparent;
}


.blur-overlay-top, .blur-overlay-bottom {
  position: absolute;
  left: 0;
  right: 0;
  height: 150px; /* Adjust the height as needed */
  pointer-events: none;
  z-index: 10;
}

.blur-overlay-top {
  top: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), transparent);
}

.blur-overlay-bottom {
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.8), transparent);
}

.bg-darker{
  background-color: #6d6d6d;
  transform: translateZ(50px); /* Move the element along the Z-axis */
  transition: transform 0.3s ease-in-out;
}


.parallax {
  background-attachment: fixed; /* This is crucial for the parallax effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
