.ext-nav a.colors-a .side-label {
    color: #04d3c0;
}

.colors-a a, a.colors-a {
    color: #04d3c0 !important;
}

.side-label{
    color: #04d3c0 !important;
}

.background-heading-e {
    background-color: #04d3c0!important;
}