@keyframes pulse {
    0%, 100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.7;
    }
  }
  
  .animate-pulse {
    animation: pulse 2s infinite ease-in-out;
  }
.btn{
  margin-left: 85%;
}  

  @media only screen and (max-width: 767px) {
.btn{
  margin-left: 80% !important;
}
    
  }