.colors-e .caption, .colors-e .header-details, .colors-e .subtitle, .colors-e .title {
    color: #04d3c0;
}

.colors-e .col-icon, .colors-e .col-left-marginalia, .colors-e a, .colors-e col-right-marginalia, .colors-e h1, .colors-e h2, .colors-e h3, .colors-e h4, .colors-e h5, .colors-e h6, a.colors-e {
    color: #04d3c0;
}

.colors-h .highlight, .colors-h.highlight {
    color: #04d3c0;
}

.colors-h .heading, .colors-h.heading {
    color: #04d3c0;
}

.colors-h .caption, .colors-h .header-details, .colors-h .subtitle, .colors-h .title {
    color: #04d3c0;
}