.padding-2{
    padding-left: 0px;
    padding-right: 0px;
}



/* Default styles for all screen sizes */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .padding-2{
        padding-left: 20px;
        padding-right: 20px;
    }
    /* Styles for extra small devices */
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    /* Styles for small devices */
    .padding-2{
        padding-left: 20px;
        padding-right: 20px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 769px) and (max-width: 992px) {
    /* Styles for medium devices */
    .padding-2{
        padding-left: 10px;
        padding-right: 10px;
    }
  }

  