.translate-y-0{
  --tw-translate-y: -250px !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}
#header {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* padding-bottom: 50rem; */
}

#header:before {
  z-index: 10;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97%;
  background: #262626;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  transform: scaleX(2.8);
}

#header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  animation: gradient 3s ease infinite;
  background-size: 400% 400% !important;
  background: linear-gradient(90deg, #7978F6, #23a6d5, #04D3C0);
  transform: scaleX(2.8);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.content {
  width: 100%;
  position: relative;
  z-index: 99;
  text-align: center;
}

@media only screen and (min-width: 350px) and  (max-width: 420px) {
  #header{
    height: 75vh;
  }
  #header:before,
  #header:after {
    transform: scaleX(6); /* Adjust the scale as per the smaller screen */
  }

  .content {
    /* Adjust text size, margins, or other properties for smaller screens */
    font-size: 14px;
  }
}
@media only screen and (min-width: 421px) and  (max-width: 500px) {
  #header{
    height: 65vh;
  }
  #header:before,
  #header:after {
    transform: scaleX(6); /* Adjust the scale as per the smaller screen */
  }

  .content {
    /* Adjust text size, margins, or other properties for smaller screens */
    font-size: 14px;
  }
}

@media only screen and (min-width: 501) and  (max-width: 560px) {
  #header{
    height: 60vh;
  }
  #header:before,
  #header:after {
    transform: scaleX(6); /* Adjust the scale as per the smaller screen */
  }

  .content {
    /* Adjust text size, margins, or other properties for smaller screens */
    font-size: 14px;
  }
}

@media only screen and (min-width: 560px) and  (max-width: 767px) {
  #header{
    height: 60vh;
  }
  #header:before,
  #header:after {
    transform: scaleX(6); /* Adjust the scale as per the smaller screen */
  }

  .content {
    /* Adjust text size, margins, or other properties for smaller screens */
    font-size: 14px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  #header:before,
  #header:after {
    transform: scaleX(3); /* Adjust the scale for medium screens */
  }

  .content {
    /* Adjustments for medium screen text size, margins, etc. */
    font-size: 16px;
  }
}
