.wrapper{
    background-image: 'url(../../assets/section-bg.png)';
    background-size : 'cover';
    background-position : 'center';
    background-repeat: 'no-repeat';
    background-color: red;
}
.custom-slider {
    display: flex;
    justify-content: center;
    align-items: center;
  }