.divider{
    border: 1px solid #969696 !important ;
}

#jumbotron2{
    height: 500px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 10em;
    padding: 10em 0;
}
  
  
  .content2{
    width: 100%;
    color: #260645;
    position: relative;
    z-index: 9999;
    text-align: center;
  }

.slick-center{
  display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 393px !important;
}
#jumbotron2:before{
background-image: url('/src/assets/bg.png');
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 0 0 50% 50% / 0 0 100% 100%;
transform: scaleX(2.8);
/* border-image: linear-gradient(45deg, purple, orange) 1; */
}


@media only screen and (max-width: 767px) {

  #jumbotron2:before {
    transform: scaleX(5); /* Adjust the scale as per the smaller screen */
  }

  .content {
    /* Adjust text size, margins, or other properties for smaller screens */
    font-size: 14px !important;
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  #jumbotron2:before {
    transform: scaleX(3); /* Adjust the scale for medium screens */
  }

  .content {
    /* Adjustments for medium screen text size, margins, etc. */
    font-size: 14px !important;
  }
}