@tailwind base;
@tailwind components;
@tailwind utilities;


.css-1qzevvg{
  cursor: pointer;
}
.css-doq0dk{
  cursor: pointer;
}
body, html {
  overflow-x: hidden;
}
html {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  overflow-y: scroll;
  font-family: 'Bai Jamjuree', sans-serif;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0px;
}

html::-webkit-scrollbar-thumb {
  background-color: transparent;
}

html:hover::-webkit-scrollbar-thumb {
  background-color: transparent;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html:hover::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  margin: 0;
  padding: 0;
}